@{
    ViewData["Title"] = "Home Page";
}

<style>
    h2
    {
        margin-top:20%;
        text-align: center;
    }
</style>

<table>
    <h2>BIENVENIDO AL SISTEMA DE REGISTRO DE EMPLEADOS</h2>
</table>


