
.transparent {
    display: none;
}

form {
    border-radius: 5px;
    background-color: #71C5EB;
}

table {
    margin-top: 1%;
    margin-left: 0%;
    width: 100%;
    table-layout: auto;
    border: 2px solid black;
    border-radius: 5px;
}

tr {
    margin-left: 0%;
    width: 100%;
}

.head-table {
    margin-left: 0%;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    background-color: #71C5EB;
}

th {
    text-align: center;
}

th, td {
    margin-left: 0%;
    width: 33%;
    overflow: hidden;
}

.father-label {
    margin-left: 1%;
    background-color: white;
    width: 10%;
}

.label-label {
    float: left;
    width: auto;
}

.input-label {
    margin-left: 1%;
    width: 85%;
    border-radius: 5px;
    border: none;
    border-left: 7px solid #71C5EB;
    float: left;
    border-radius: 0px;
}

.upload-button {
    margin-top: 2%;
    background-color: black;
    color: white;
}

.back-color {
    background-color: #71C5EB;
}

